@charset "UTF-8";
/* CSS Document */


h1 {
	 font: normal;
		background-color: aquamarine;
 	 font-size: 37px;
	 font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, 'Gill Sans', 'Gill Sans MT', 'Myriad Pro', 'DejaVu Sans Condensed', Helvetica, Arial, 'sans-serif';
	 color: teal;
	padding: 25px;
	text-align: center
}
h2 {
	background-color: #CDA440;
	color: white;
	font-style: italic;
}
.table-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
  border-radius: 50px;
  background: #CDA440;
   background-origin: border-box;
  box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
	color: aliceblue;
	 margin:auto;
}

.button-10:focus {
  box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  outline: 0;
}

.table-style {
	border: #009879;
	border-width: 3 px;
	margin: 25px 0;
	font-size: .9em;
	min-width: 400px;

}

.content-table-thead-tr {
	background-color: #009879;
	color:white;
	text-align: left;
	font-weight: bold;
}

.content-table-tbody-tr {
	border-bottom: 4px solid #000000;
}

.blue {
	background-color: aqua;
}

.table-head {
	background-color: #009879;
	color:white;
	text-align: left;
	font-weight: bold;
}